<!-- 基本的にgetは全てのHTMLに適応する。例外としてpostに適応させたい時にメソッドを使用する -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/user/update.css}">
</head>
<body>
    <h1>User情報管理システム</h1>
    <h2>User更新</h2>
    <form method="post" th:action="@{/user/update/{id}/(id=${user.id})}" th:object="${user}">
        <!-- ラベルの名前をIDとせよ -->
        <label for="id">ID</label>
        <!-- formの中身。thはタイムリーフ（拡張機能） -->
        <input type="hidden" id="id" name="id" th:value="*{id}" th:text="*{id}">
        <br>
        <label for="name">名前</label>
        <!-- formの中身。th:errorclass="err"はerrが見えた時、errの処理してね。errが見えてない時は type="text"してね-->
        <input type="text" th:field="*{name}" th:errorclass="err">
        <!-- "err"はerrが見えた時、errの処理してね。errが見えてない時は以下１行はなかったことになる。先頭のthにて後半のclass="err"にも適応している-->
        <span th:errors="*{name}" class="err"></span>
        <br>
        <label for="gender">性別</label>
        <select th:field="*{gender}" th:errorclass="err">
            <option value="" th:text="選択してください" >
            <option th:each="item:${T(com.techacademy.entity.User.Gender).values()}" th:value="${item}" th:text="${item}" th:selected="*{gender} == ${item}">
        </select>
        <span th:errors="*{gender}" class="err"></span>
        <br>
        <label for="age">年齢</label>
        <input type="text" th:field="*{age}" th:errorclass="err">
        <span th:errors="*{age}" class="err"></span>
        <br>
        <label for="email">メールアドレス</label>
        <input type="text" th:field="*{email}" th:errorclass="err"> 
        <span th:errors="*{email}" class="err"></span>
        <br>
        <br>
        <input type="submit" value="更新実行">
        <a th:href="@{/user/list}">更新せずに一覧に戻る</a>
    </form>
</body>
</html>
        